global:
  scrape_interval: 5s

scrape_configs:
  - job_name: api
    static_configs:
      - targets: ["api:8000"]

  - job_name: vector_flow_workers
    file_sd_configs:
      - files:
          - /etc/prometheus/file_sd/workers.json
        refresh_interval: 10s
