apiVersion: v1
kind: ServiceAccount
metadata:
  name: vectorflow-api
  namespace: vectorflow
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vectorflow-api-worker-manager
  namespace: vectorflow
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vectorflow-api-worker-manager
  namespace: vectorflow
subjects:
  - kind: ServiceAccount
    name: vectorflow-api
    namespace: vectorflow
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vectorflow-api-worker-manager
